In [62]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()#sorts the elements in ages
min_age=min(ages)#gives the minimum value in the list ages
max_age=max(ages)#gives the miximum value in the list ages
print("sorted list",ages)#prints the sorted list
print("Minimum Age:",min_age)#prints the sorted list
print("Maximum Age:",max_age)#prints maximum value

sorted list [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Age: 19
Maximum Age: 26

In [63]:
#Add the min age and the max age again to the list
ages.append(min_age)
ages.append(max_age)
print(ages)
len(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

12

In [64]:
#Find the median age (one middle item or two middle items divided by two)
import statistics
print(statistics.median(ages))

24.0

In [65]:
#Find the average age (sum of all items divided by their number)
avg=sum(ages)/len(ages)
print(avg)

22.75

In [66]:
#Find the range of the ages (max minus min)
range=max(ages)-min(ages)
range

7

Question2

In [67]:
#Create an empty dictionary called dog
dog={}

In [68]:
#Add name, color, breed, legs, age to the dog dictionary
dog={'name':'simba','color':'brown','breed':'labrador','age':'2','legs':'4'}
dog.keys()

dict_keys(['name', 'color', 'breed', 'age', 'legs'])

In [1]:
#Create a student dictionary
student={'first_name':'NISHANTH',
         'last_name':'KURUGUNTLS',
         'gender':'male',
         'age':'23',
         'maritalstatus':'single',
         'skills':['c','java','c#','python'],
         'country':'India',
         'city':'Guntur',
         'address':'chirala'
         }

In [2]:
#Get the length of the student dictionary
student_length=len(student)
student_length

9

In [85]:
#Get the value of skills and check the data type, it should be a list
skills_value=student["skills"]
skills_type=type(skills_value)
print(skills_value)
print(skills_type)

['c', 'java', 'c#', 'python']
<class 'list'>

In [86]:
#Modify the skills values by adding one or two skills
student["skills"].extend(["Javascript","HTML"])
print(skills_value)

['c', 'java', 'c#', 'python', 'Javascript', 'HTML']

In [87]:
#Get the dictionary keys as a list
student_keys=list(student.keys())
student_keys

['first_name',
 'last_name',
 'gender',
 'age',
 'maritalstatus',
 'skills',
 'country',
 'city',
 'address']

In [88]:
#Get the dictionary values as a list
student_values=list(student.values())
student_values

['Yamini',
 'Yarra',
 'female',
 '23',
 'single',
 ['c', 'java', 'c#', 'python', 'Javascript', 'HTML'],
 'India',
 'Guntur',
 'chirala']

Question 3

In [33]:
#Create a tuple containing names of your sisters and your brothers
sisters=("Mydhili","Chandana","Jaishnavi")
brothers=("chaitanya","sunny","jathin")

In [34]:
#Join brothers and sisters tuples and assign it to siblings
siblings=brothers+sisters
siblings

('chaitanya', 'sunny', 'jathin', 'Mydhili', 'Chandana', 'Jaishnavi')

In [35]:
#How many siblings do you have?
num_siblings=len(siblings)
num_siblings

6

In [36]:
#modify the siblings tuple and add the name of your father and mother and assign it to family_members
father="Bapuji"
mother="padma"
family_members=(father,mother)+siblings
family_members

('Bapuji',
 'padma',
 'chaitanya',
 'sunny',
 'jathin',
 'Mydhili',
 'Chandana',
 'Jaishnavi')

Question4

In [37]:
#Given sets and lists
it_companies={'Facebook','Google','Microsoft','Apple','IBM','Oracle','Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [38]:
#Find the lenght of the set it_companies
len(it_companies)

7

In [39]:
#Add 'Twitter' to it_companies
it_companies.add('twitter')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'twitter'}

In [41]:
it_companies.update(['LinkedIn','Snapchat','Spotify'])#Insert multiple IT companies at once to the set it_companies
print(it_companies)

{'Snapchat', 'IBM', 'Facebook', 'Microsoft', 'Apple', 'Amazon', 'Oracle', 'Spotify', 'twitter', 'LinkedIn', 'Google'}

In [42]:
#Remove one of the companies from the set it_companies
it_companies.remove('Snapchat')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'LinkedIn',
 'Microsoft',
 'Oracle',
 'Spotify',
 'twitter'}

In [121]:
#What is the difference between remove and discard
it_companies.discard('IBM')#discard doesnot give error if the value doesnot exists whereas remove gives
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'LinkedIn',
 'Microsoft',
 'Oracle',
 'Spotify',
 'twitter'}

In [45]:
#Join A and B
new=A.union(B)
new

{19, 20, 22, 24, 25, 26, 27, 28}

In [46]:
#Find A intersection B
new1=A.intersection(B)
new1

{19, 20, 22, 24, 25, 26}

In [47]:
#Is A subset of B
new2=A.issubset(B)
new2

True

In [49]:
#Are A and B disjoint sets
A.isdisjoint(B)

False

In [50]:
#Join A with B and B with A
A.update(B)
A

{19, 20, 22, 24, 25, 26, 27, 28}

In [51]:
B.update(A)
B

{19, 20, 22, 24, 25, 26, 27, 28}

In [52]:
#What is the symmetric difference between A and B
A={19,22,24,20,25,26}
B={19,22,20,25,26,24,28,27}
A_symmetric_difference_B=A.symmetric_difference(B)
print(A_symmetric_difference_B)

{27, 28}

In [53]:
#Delete the sets completely
del A
del B

In [54]:
#Convert the ages to a set and compare the length of the list and the set.
age=[22,19,24,25,26,24,25,24]
age_set=set(age)
print(len(age))
print(len(age_set))

8
5

Question5

In [55]:
rad=30
_area_of_circle_=3.14*rad*rad
_area_of_circle_

2826.0

In [56]:
_circum_of_circle_=2*3.14*rad
_circum_of_circle_

188.4

In [57]:
import math
radius=float(input("enter the radius of circle:"))#takes the radius value as a input from user
area=math.pi*radius**2
area

enter the radius of circle:5

78.53981633974483

Question6

In [58]:
sentence= "I am a teacher and I love to inspire and teach people"
words=sentence.split()
unique_words=set(words)
number_of_unique_words=len(unique_words)
number_of_unique_words

10

Question7

In [59]:
header="Name\tAge\tCountry\tCity"
data="Asabeneh\t250\tFinland\tHelsinki"
print(header)
print(data)

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

Question8

In [61]:
radius=10
area=3.14*radius**2
result= f"The area of the circle with radius {radius} is {area} meter square."
print(result)
#Or if you want to display the area as an integer
result_int=f"The area of the circle with radius {radius} is {int(area)} meter square."
print(result_int)

The area of the circle with radius 10 is 314.0 meter square.
The area of the circle with radius 10 is 314 meter square.

Question9

In [124]:
# Read the number of elements
n = int(input("Enter the number of elements: "))

# Initialize an empty list for weights in pounds
weights_lbs = []

# Use a while loop to read and append elements to the list
i = 0
while i < n:
    weight_lbs = int(input(f"Enter the weight of the student {i+1} (in pounds): "))
    weights_lbs.append(weight_lbs)
    i += 1

# Convert weights from pounds to kilograms and round to 2 decimal places
weights_kg = []
i = 0
while i < len(weights_lbs):
    weight_kg = round(weights_lbs[i] * 0.453592, 2)
    weights_kg.append(weight_kg)
    i += 1

# Print the weights in kilograms
print(weights_kg)

Enter the number of elements: 5
Enter the weight of the student 1 (in pounds): 9
Enter the weight of the student 2 (in pounds): 9
Enter the weight of the student 3 (in pounds): 9
Enter the weight of the student 4 (in pounds): 9
Enter the weight of the student 5 (in pounds): 9
[4.08, 4.08, 4.08, 4.08, 4.08]